<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar bg-body-tertiary" style="background-color: #007991;">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>

      <div class="container-fluid d-flex justify-content-center" style="align-items: center;">
        <form class="d-flex" role="search" action="{% url 'search' %}" method="POST">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name" style="width: 80%;">
          <button class="" type="submit" style="background-color: #ff9635; border: 2px solid #ff9635 ; border-radius: 12px;">Search</button>
        </form>
      </div>
    </div>

  </nav>

</body>

</html>