<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feedback</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
  {% include 'Faces/nav.html' %}
  <div class="container text-center">
    <h1>We love hearing from you!</h1>
    <br><br><br>

    <form action="" method="POST">

      <!-- IMAGES FOR SUGGESTION  -->
      <div class="container">
        <div class="row">
          {% csrf_token %}
          <div class="col-sm">
            {% load static %}
            <button id="b1" style="all:unset; cursor:pointer" type="submit" name="badd" value="{{bad}}"><img
                src="{% static '2.png' %}" width="200vw" height="200vh" alt="My image" onclick="a0()"></a></button>
          </div>

          <br>

          {% csrf_token %}
          <div class="col-sm">
            {% load static %}
            <button id="b2" style="all:unset; cursor:pointer" type="submit" name="godd"><img src="{% static '1.png' %}"
                width="200vw" height="200vh" onclick="a0()" alt="My image"></button>
          </div>

          <br>

          {% csrf_token %}
          <div class="col-sm">
            {% load static %}
            <button id="b3" style="all:unset; cursor:pointer" type="submit" name="bestt"><img src="{% static '3.png' %}"
                width="200vw" height="200vh" alt="My image" id="b1" onclick="a0()"></button>
          </div>
        </div>
      </div>

    </form>






    <form method="post">
      {% csrf_token %}
      <div class="col-sm">
        {% load static %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
      </div>
    </form>


  </div>
  <script>
    function a0() {
      document.getElementById('b1');
      // console.log("A")
      alert('Thank You For Your Valuable Feedback !!')
    }
  </script>
</body>

</html>