{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body onload="update_cart()">
    <div class="container text-center">
        <h1>Our Products</h1>
    </div>
    <div class="container text-center">
        <div class="row align-items-start">
          <!-- <div class="col d-flex"> -->
            {% for i in myproduct %}
            <div class="col-sm-4 d-flex justify-content-center">
              <div class="card mb-3" style="width: 18rem; height:24rem">
                  <img src="{{ i.product_image.url }}" class="card-img-top" alt="p-image">
                  <div class="card-body">
                    <h5 class="card-title">{{ i.product_title }}</h5>
                    <p class="card-text">{{ i.product_rating }} out of 5 stars</p>
                    <p class="card-text">Rs. {{ i.product_price }}</p>
                    <button id="mybtn" onclick="add_item('{{i}}',`{{i.product_title}}`,`{{i.product_price}}`,`{{i.product_image.url}}`)" class="btn btn-primary">Add to Cart</button>
                  </div>
                </div>
            </div>
          <!-- </div> -->
            {% endfor %}
        </div>
    </div>

<script>
  function add_item(i,a,b,c){
    var obj=localStorage.getItem("cart_item")
    if(obj===null){
      let items=[]
      items.push({"i":i,"title":a,"price":b,"image":c,"count":1})
      var z=JSON.stringify(items)
      localStorage.setItem("cart_item",z)
      obj=localStorage.getItem("cart_item")
      console.log(obj)
    }
    else{
      var z=JSON.parse(obj)
      var flag=0
      // whether i exists or not
      // console.log(z)
      for (var m=0;m<z.length;m++){
        // console.log(z[m]["i"])
        var n=z[m]["i"]
        var r=z[m]["count"]
        if(i===n){
          // console.log("match found")
          flag=1
          r=r+1
          z[m]["count"]=r
          var a=JSON.stringify(z)
          localStorage.clear()
          localStorage.setItem("cart_item",a)  
        }
      }
      if (flag===0){
        z.push({"i":i,"title":a,"price":b,"image":c,"count":1})
        console.log(z)
        var a=JSON.stringify(z)
        localStorage.setItem("cart_item",a)
        
      }
      else{
        console.log(z)
        var a=JSON.stringify(z)
        localStorage.setItem("cart_item",a)
      }
      console.log(obj)
    }
    update_cart()
  //   var r=0
  //   for (var m=0;m<z.length;m++){
  //       // console.log(z[m]["i"])
  //       var n=z[m]["i"]
  //       r+=z[m]["count"]
  //   }
  //   r=r.toString()

  // document.getElementById("item_count").innerHTML=r
  }
  function update_cart(){
    var obj=localStorage.getItem("cart_item")
    if (obj===null){
    var r=0
    }
    else{
    var z=JSON.parse(obj)
    var r=0
    for (var m=0;m<z.length;m++){
        // console.log(z[m]["i"])
        var n=z[m]["i"]
        r+=z[m]["count"]
      }
    }
    r=r.toString()
    
  document.getElementById("item_count").innerHTML=r

  }
</script>
</body>
</html>

