<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
        var obj=localStorage.getItem("cart_item")
        console.log(obj)
        //   var shoppingCart = JSON.parse(localStorage.getItem("cart_item"));
        //   console.log("hi"+shoppingCart)
        //   itemCount = shoppingCart.length;
        //   console.log(itemCount)

          //Iterate javascript shopping cart array
        //   shoppingCart.forEach(function (item) {
        //     var cartItem = JSON.parse(item);
        //     price = parseFloat(cartItem.price);
        //     quantity = parseInt(cartItem.quantity);
        //     subTotal = price * quantity;
        //   });
        
        // else{
        //     console.log("no data")
        // }
      
    </script>
  </body>
</html>
